{%- set name = "abcv" -%}
{%- set image = "my_tzmq_v2" -%}
{%- set actor_replicas = 4 -%}
{%- set learner_replicas = 1 -%}
{%- set script = "" -%}
{%- set log_stdout = "true" -%}
{%- set save_dir = "/root/work/data" -%}
{%- set train_dir = "" -%}
{%- set credential_secret_name = "" -%}
{%- set credential_secret_key = "" -%}

{%- set port = 5000 -%}
{%- set replicas = {"actor": actor_replicas, "learner": learner_replicas} -%}


{%- for job in ["actor", "learner"] -%}
{% if job == "learner" %}
kind: Service
apiVersion: v1
metadata:
  name: {{ name }}-{{ job }}
spec:
  selector:
    name: {{ name }}
    job: {{ job }}
    task: "{{ i }}"
  ports:
  - port: {{ port }}
---
{% endif %}
kind: ReplicaSet
apiVersion: extensions/v1beta1
{% if job == "learner" %}
metadata:
  name: {{ name }}-{{ job }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: {{ name }}
        job: {{ job }}
        task: "{{ i }}"
{% endif %}
{% if job == "actor" %}
metadata:
  name: {{ name }}-actors
spec:
  replicas: {{ actor_replicas }}
  template:
    metadata:
      labels:
        name: {{ name }}
        job: {{ job }}
        task: "{{ i }}"
{% endif %}
    spec:
{% if job == "learner" %}
      volumes:
      - name: learner-work-dir
        persistentVolumeClaim:
          claimName: pvc-work
{% endif %}
      containers:
      - name: tzmq-xing-me
        image: {{ image }}
        imagePullPolicy: Never
        env:
{% if credential_secret_name != "" %}
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: "/etc/credential/{{ credential_secret_key }}"
{% endif %}
{% if log_stdout != "" %}
        - name: aliyun_logs_{{ name }}
          value: "stdout"
{% endif %}
        ports:
        - containerPort: {{ port }}
        command:
        - "/usr/bin/python"
{% if job == "learner" %}
        - "learner_v2.py"
        args:
        - "--port={{ port }}"
        - "--save_dir={{ save_dir }}"
{% endif %}
{% if job == "actor" %}
        - "actor_v2.py"
        args:
        - "--lrn_addr={{ name }}-learner:{{ port }}"
{% endif %}
{% if job == "learner" %}
        volumeMounts:
          - mountPath: "{{ save_dir }}"
            name: learner-work-dir
            subPath: "xxx/yyy/zzz"
{% endif %}
{% if credential_secret_name != "" %}
        volumeMounts:
        - name: credential
          mountPath: /etc/credential
          readOnly: true
      volumes:
      - name: credential
        secret:
          secretName: {{ credential_secret_name }}
{% endif %}
---
{%- endfor -%}
